:root {
    --layout__bg: #f4f4f9;       
    --card__bg: #fff; 
}
body {
    background-color: rgb(194, 189, 252);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: var(--card__bg);
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 7px 3px gray;
}
.container > form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
h1{
    text-align: center;
}
form div input, form div select, form div textarea{
    width: 100px;
    border-color: none;

}
button{
    background-color: var(--button__bg);
}